.Similar_movie {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.Similar_movie p a{
    text-transform: none;
}

.Similar_movie::-webkit-scrollbar{
    display: none;
}



.Slider {
    display: flex;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    overflow-y: scroll; 
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
    margin-bottom: 50px;
}

.Slider::-webkit-scrollbar {
    width: 1px; 
}


.Slide-img{
    margin-right: 10px;
}

.Slide-span:hover{
    opacity: 1;
    background-color:  rgba(0, 0, 0, 0.75);

}

.Slide-span .span-overview{
    font-size: 16px;
    max-height: 200px; 
    text-align: left;
    margin-left: 20px;
    overflow-y: "auto";
}

.Slide-span{
    position: absolute;
    width: 300px;
    height: 450px;
    top: 0%;
    display: block;
    font-size: 16px;
    opacity: 0;
    margin: 0 auto;
    
    
    text-transform: none;

}
.Span-scores{
    text-align: left;
    margin-left: 20px;
}
.Seader-title{
    text-align: left;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 16px;
    
}
.Seader-date{
    font-size: 16px;
    text-align: left;
   
    padding-bottom: 12px;
}

