.SearchBar {
    width: 30%;
    margin-left: 59%;
    border-radius: 5px;
    position: relative;
}

.SearchBar input[type="text"] {
    width: 100%;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px;
}
.div-span{
    position: absolute;
    top: 15%;
    left: 69%;
    width: 31%;
}

span a {
    
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    
}

span a:hover {
    color: #007bff;
}

span h3 {
    margin: 10px 0;
    font-size: 18px;
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
}

.Header-logo_netflix {
    width:60px;
}

.wrapper{
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: black;
}